*~
*\#*#
*.patch
*.rej
NodeDaemon
RemoteControl
Analyse
ToolDAQ
*.d
*.DS_Store
thumbs.db
Thumbs.db
desktop.ini
Desktop.ini
*.o
*.root
*.so
*.a
core.*
!core/
__pycache__/
*.pyc

# ROOT dictionaries are also build products
*_RootDict.cpp
*.pcm
*.rootmap

# we also build the datamodel linkdef on the fly
DataModel/DataModel_Linkdef.hh

# These are imported as part of ToolPack
# They will be retrieved by GetToolDAQ.sh
# and should not be present in the base repository
UserTools/ImportedTools
UserTools/PythonScript
UserTools/newPyTool.sh
UserTools/template/PyTool.py
